@media (max-width:1200px) {
    .text-container {
        margin-left: 25px;
    }

    .img-container img {
        width: 150%;
    }
}

@media (max-width:1000px) {
    .text-container {
        max-width: 50%;
    }
    .text-container h1 {
        font-size: 95px;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: 0px;
    }
}

@media (max-width:950px) {
    .main-section {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    .text-container {
        max-width: 100%;
    }

    .btns {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .available {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .tagline {
        max-width: 100%;
    }

    .text-container h1 {
        text-align: center;
        font-size: 80px;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: 0px;
    }

}

@media (max-width:800px) {

    .img-container {
        /* background-color: rgb(88, 1, 1); */
        display: flex;
        width: 100%;
        justify-content: center;
        /* flex-grow: 0; */
        align-items: center;
    }

    .img-container img {
        width: 100%;
    }
}

@media (max-width:600px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin: 0;
    }

    .text-container h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
    }
}